.LoginRightSection {
    text-align: center;
    background-color: #fff;
}

.LoginRightSection .LoginLogoImg {
    padding: 0px;
    width: 200px;
    height: 200px;
}

.LoginDetailsBlock>div>div {
    margin-top: 20px;
}

.LoginDetailsBlock h4 {
    color: #01548A;
    font-size: 25px;
    font-weight: bold;
}

.LoginDetailsBlock form {
    display: flex;
    flex-direction: column;
    gap: 10px
}

.LoginDetailsBlock .LoginInputFields {
    margin-top: 10px;
}

.LoginDetailsTextfieldIcons {
    width: 20px;
    height: 20px;
}

.LoginRememberMe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    color: #808080;
}

.LoginForgotPwd {
    font-size: 15px;
    font-weight: bold;
    color: #808080
}

.LoginInputError {
    text-align: start;
    color: red;
    font-size: 16px
}

.LoginDetailsBlock .LoginBtn {
    padding-left: 42%;
    padding-right: 42%;
    text-transform: none;
    background-color: #01548A;
    color: #fff;
    font-weight: bold;
    border-radius: 6px;
    margin-top: 5%;
    margin-bottom: 5%;
}



.LoginMainBox .MuiTypography-body1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.LoginMainBox .MuiTypography-body2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #808080;
    font-size: 15px;
    
}

.LoginMainBox .MuiButtonBase-root {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: bold;
}

.LoginMainBox .MuiInputBase-root {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 18px 100px;
    border-radius: 12px;
}

.LoginMainBox .MuiFormHelperText-root {
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.LoginMainBox   .MuiOutlinedInput-input {
        padding: 18.5px 0px;
        width: 20rem;
    }


.LoginMainBox .ErroBoundary {
    border: 1px solid red;
}

.LoginMainBox .Heading1 {
    font-size: 36px !important;
}

.LoginMainBox .Heading2 {
    font-size: 30px !important;
}

.LoginMainBox .Heading3 {
    font-size: 20px !important;
}

.LoginMainBox .Heading4 {
    font-size: 17px !important;
}

.LoginMainBox .Heading5 {
    font-size: 16px !important;
}

.LoginMainBox .Heading6 {
    font-size: 14px !important;
}

.LoginMainBox .BoldFont {
    font-weight: bold !important;
}

.LoginMainBox .PrimaryColor1 {
    color: #0075A9;
}

.LoginMainBox .PrimaryColor2 {
    color: #005487;
}

.LoginMainBox .SecondaryColor1 {
    color: #C2BC30;
}

.LoginMainBox .SecondaryColor2 {
    color: #D93F49;
}

.LoginMainBox .SecondaryColor3 {
    color: #FBAD18;
}

.LoginMainBox .FontColor1 {
    color: #202020;
}

.LoginMainBox .FontColor2 {
    color: #808080;
}

.LoginMainBox .FontColor3 {
    color: #FFFFFF;
}

.LoginMainBox .FontColor4 {
    color: #F4F4F4;
}

.LoginMainBox .FontColor5 {
    color:  #808084;
}

.LoginMainBox .MuiButton-contained:hover {
    background-color:  #01548A;
}